# =========================
# Maven
# =========================
target/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
out/


# =========================
# Java specific
# =========================
*.class
*.jar
*.war
*.ear
